#banner {

	width: 200px;

}

#footer {

	width: 80px;
	margin: 50px auto 20px auto;

}

#credit {

	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #222;
	margin: auto auto 65px auto;

}

h1, h2, h3, h4, p { color: #222; }

div.nav {

	width: 390px; /* should be 385 */
	margin: 60px auto auto auto;

	a {

		width: 90px;
		display: inline-block;
		border: 0px solid black;
		margin: 0;

		i {

			display: block;
			margin: 0 0 0 25px;

		}

	}

}

.git {

	width: 40px;
	margin: 30px auto auto auto;

}

#tut-nav, #doc-nav { margin: 45px auto auto auto; }

#tut-nav { width: 160px; }

#doc-nav { width: 120px; }

i {

	color: $color-base;
	margin: 0;
	padding: 0;
	border: 0;

	&:hover { color: $color-hover; }

}

.wrapper {

	width: 55%;
	min-width: 600px;
	margin: 70px auto;
	font-family: "Courier New";

}

a {

	text-decoration: none;
	color: #CD7F32;
	font-weight: bold;

	&:hover { color: $color-hover; }

}

.center {

	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.code {

	width: 70%;
	margin: 30px auto;
	padding: 20px;
	border-radius: 15px;
	background-color: $color-base;
	color: white;
	overflow: scroll;

}

.syntax {

	width: 70%;
	margin: 20px auto;
	color: white;

}

.syntax-block {

	display: inline;
	background-color: #CD7F32;
	padding: 10px;
	border-radius: 8px;

}

.bridge { width: 80%; }

.section {

	padding: 45px 35px 20px 35px;
	margin: 20px auto;
	/* border: 1px solid black; */

}

h1 {

	font-size: 28px;
	margin-top: 45px;

}

h2 { font-size: 18px; }

h1, h2 {

	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

h4 { margin-top: 35px; }

p { line-height: 150%; }

img { border-radius: 15px; }

li { margin: 10px auto; }

th, td {

	border: 1px solid black;
	padding: 15px;

}