h1, h2, h3, h4, p {

	color: #222;

}

div.nav {

	width: 400px;
	margin: 60px auto auto auto;

}

.git {

	width: 40px;
	margin: 30px auto auto auto;

}

div.nav a {

	width: 90px;
	display: inline-block;
	border: 0px solid black;
	margin: 0;

}

.tut-nav {

	width: 168px;
	margin: 45px auto auto auto;

}

.doc-nav {

	width: 126px;
	margin: 45px auto auto auto;

}

i {

	color: #CD7F32;
	margin: 0;
	padding: 0;
	border: 0;

}

i:hover {

	color: #BD5F32;

}

div.nav a i {

	display: block;
	margin: 0 0 0 25px;

}

.wrapper {

	width: 55%;
	min-width: 600px;
	margin: 70px auto;
	font-family: "Courier New";

}

.center {

	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

div.code {

	width: 70%;
	margin: 30px auto;
	padding: 20px;
	border-radius: 15px;
	background-color: #CD7F32;
	color: white;
	overflow: scroll;

}

.syntax {

	width: 70%;
	margin: 20px auto;
	color: white;

}

.syntax-block {

	display: inline;
	background-color: #CD7F32;
	padding: 10px;
	border-radius: 8px;

}

.bridge {

	width: 80%;

}

.section {

	padding: 20px 35px;
	margin: 20px auto;
	/* border: 1px solid black; */

}

a {

	text-decoration: none;
	color: #CD7F32;
	font-weight: bold;

}

a:hover {

	color: #BD5F32;

}

h1 {

	font-size: 24px;
	margin-top: 45px;

}

h2 {

	font-size: 18px;

}

h1, h2 {

	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

h4 {

	margin-top: 35px;

}

p {

	line-height: 150%;

}

img {

	border-radius: 15px;

}

li {

	margin: 10px auto;

}

th, td {

	border: 1px solid black;
	padding: 15px;

}