.wrapper {

	width: 55%;
	margin: 100px auto;
	font-family: "Courier New";

}

.center {

	display: block;
	margin-left: auto;
	margin-right: auto;

}

.code {

	width: 70%;
	margin: 30px auto;
	padding: 20px;
	border-radius: 15px;
	background-color: #CD7F32;
	color: white;
	overflow: scroll;

}

.syntax {

	width: 70%;
	margin: 20px auto;
	color: white;

}

.syntax-block {

	display: inline;
	background-color: #CD7F32;
	padding: 10px;
	border-radius: 8px;

}

h1,h2,h3 {

	margin-top: 45px;

}

h4 {

	margin-top: 35px;

}

#bridge-rhino {

	width: 80%;
	border-radius: 15px;

}

h1, h2 {

	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

p {

	line-height: 150%;

}

li {

	margin: 10px auto;

}